@model ProjectEJ.Models.Sorteos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sorteos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Expiracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Expiracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Finished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Finished)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
