@model ProjectEJ.Models.Ganadores

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Números ganadores</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Primer número</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimerNumero, new { htmlAttributes = new {@type = "number", @class = "form-control", min=0, max=99 } })
                @Html.ValidationMessageFor(model => model.PrimerNumero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Segundo número</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SegundoNumero, new { htmlAttributes = new { @type = "number", @class = "form-control", min = 0, max = 99 } })
                @Html.ValidationMessageFor(model => model.SegundoNumero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Segundo número</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TercerNumero, new { htmlAttributes = new { @type = "number", @class = "form-control", min = 0, max = 99 } })
                @Html.ValidationMessageFor(model => model.TercerNumero, "", new { @class = "text-danger" })
            </div>
        </div>
        <label>Seleccione el sorteo</label>
        <select class="selectpicker form-control" id="Sorteos" name="Sorteos">
            @foreach (var sorteo in ViewBag.Sorteos)
                {
                <option value="@sorteo.Id">@sorteo.Descripcion - @sorteo.Fecha_Expiracion</option>
            }
        </select>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancelar", "Index")
</div>
